<h2>The following Issues have escalations</h2>

    <% @escalations.each do |escalation| %>

    <% issue = escalation.getIssue %>
    <%= link_to issue.to_s, :controller => 'issues', :action => 'show', :id => issue %>
    <br />

    <% end %>
